.device-card {
    border: 1px solid #0682af;
    padding: 10px;
    margin: 8px 0;
    border-radius: 6px;
    width: 100%;
    box-sizing: border-box;
}

.device-name {
    font-weight: bold;
}

.connect-button {
    margin-top: 8px;
}

/* Scrollable container */
#device-list-container {
    max-height: 400px; /* Adjust based on your design */
    overflow-y: auto;
    border: 3px solid #0d5fbd;
    padding: 10px;
    margin-top: 10px;
    width: 300px;
}

.chart-container {
    display: flex;
    flex-direction: column;
    align-items: center;         /* center horizontally */
    justify-content: center;     /* center vertically (if you want) */
    min-height: 100vh;           /* optional: center on full page height */
    gap: 40px;                   /* spacing between charts */
}

.ppgGraph,
.gsrGraph {
    width: 500px;
    height: 300px;
}

.progress-container {
    width: 100%;
    max-width: 500px;
    margin: 20px auto;
    background-color: #e0e0e0;
    border-radius: 5px;
    position: relative;
    height: 30px;
    overflow: hidden;
}

.progress-bar {
    height: 100%;
    width: 0; /* Will be updated by JavaScript */
    transition: width 0.3s ease, background-color 0.3s ease;
}

.percentage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
}

.label {
    font-weight: bold;
    margin-bottom: 5px;
}