<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BLE Scanner</title>
    <!-- Link to external CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.socket.io/4.5.0/socket.io.min.js"></script>
</head>
<body>
    <h1>Fatigue Sense</h1>
    <button onclick="scanDevices()">Scan for Devices</button>
    
    <div id="device-list-container">
        <div id="device-list"></div>
    </div>

    <div class="chart-container">
        <div class="ppgGraph">
            <canvas id="ppgChart"></canvas>
        </div>
    
        <div class="gsrGraph">
            <canvas id="gsrChart"></canvas>
        </div>
    </div>

    <div class="label">Stress Level</div>
    <div class="progress-container">
        <div id="stress-bar" class="progress-bar"></div>
        <div id="stress-percentage" class="percentage">0%</div>
    </div>
    
    <div class="label">Fatigue Level</div>
    <div class="progress-container">
        <div id="fatigue-bar" class="progress-bar"></div>
        <div id="fatigue-percentage" class="percentage">0%</div>
    </div>

    <!-- Link to external JavaScript file -->
    <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>
